#particles {
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  z-index: -1 !important;
}

.tsparticles-canvas-el {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}

#logo {
  width: 30%;
  height: 30%;
  margin: 50% 45% 0% 37.5%;
}

#form {
  margin-top: 10px !important;
}
